<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>本の一覧表示</title>
</head>
<body>

<h1>Google Books 検索</h1>
<form th:action="@{/search}" method="get">
    <input type="text" name="query" placeholder="検索ワード">
    <button type="submit">検索</button>
</form>

<div th:if="${books}">
    <h2>検索結果</h2>
        <ul>
            <li th:each="book : ${books}">
                <span th:text="${book.volumeInfo.title}"></span>
                <img th:src="${book.volumeInfo.getThumbnail()}" alt="Book Thumbnail">
                <form th:action="@{/book-register}" method="post">
                    <input type="hidden" name="title" th:value="${book.volumeInfo.title}">
                    <input type="hidden" name="thumbnail" th:value="${book.volumeInfo.getThumbnail()}">
                    <button type="submit">登録</button>
                </form>
            </li>
        </ul>
</div>
</body>
</html>